/* login.css */

/* Reset default browser styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("../images/cybercafe.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: Arial, sans-serif;
}

a {
  text-align: center;
  text-decoration: none;
  color: #666;
}

.container {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.loginHeader {
  text-align: center;
  margin-bottom: 20px;
}

.loginHeader h1 {
  font-size: 24px;
  color: #333;
}

.loginHeader h3 {
  font-size: 18px;
  color: #555;
}

.loginBody {
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 14px;
  color: #666;
  margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  transition: background-color 0.3s ease;
}

input[type="text"]:focus,
input[type="password"]:focus {
  background-color: rgba(255, 255, 255, 0.9);
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

button:focus {
  outline: none;
}

.login {
	margin-left: 102px;
}

/* Media Query for responsiveness */
@media (max-width: 600px) {
  .container {
    width: 90%;
  }
}
